<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.digitalhousefoods">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalHouseFoods">
        <activity android:name=".ui.DetalhePratoActivity"></activity>
        <activity android:name=".ui.DetalheRestauranteActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:parentActivityName=".ui.LoginActivity" />
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>